<!--<input [formControl]="nameControl">-->



<!--<fieldset [formGroup]="fullNameControl">-->
<!--  <input formControlName="firstName">-->
<!--  <input formControlName="lastName">-->
<!--</fieldset>-->

<form [formGroup]="userListControl">
  <ul formArrayName="users">
      <div class="form-group" *ngFor="let userControl of userListControl.controls.users.controls; let i = index">
        <input class="form-control" formControlName="{{i}}" required>
        <button (click)="removeUserControl(i)">Remove user</button>
        <!--<div class="help-inline" *ngIf="userControl.errors?.maxlength">Name must be at more 5 characters long.</div>-->
        <div class="help-inline" *ngIf="userControl.errors?.minlength">Name must be at least 2 characters long.</div>
        <div class="help-inline" *ngIf="userControl.errors?.myAsyncValidator">MyValidator</div>
        <pre>{{userControl.errors | json}}</pre>
      </div>
  </ul>
</form>
<button (click)="addUserControl()">Add user</button>
